<header>
  <!-- "Fork me" ribbon, should probably remove in production -->
  <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
          <a href="https://github.com/jbender/dev-hub">Fork me on GitHub</a>
      </div>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <a class="brand" href="{{ site.baseurl }}/">Dev Hub</a>
              <div class="nav-collapse collapse">
                  <ul class="nav">
                      <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                      <li><a href="{{ site.baseurl }}/apis">APIs</a></li>
                      <li><a href="{{ site.baseurl }}/data">Data</a></li>
                      <li><a href="{{ site.baseurl }}/code">Code</a></li>
                      <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
                      <li><a href="{{ site.baseurl }}/support">Support</a></li>
                      <li><a href="{{ site.baseurl }}/roadmap">Roadmap</a></li>
                      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>
