<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-transition.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-alert.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-modal.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-dropdown.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-scrollspy.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-tab.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-tooltip.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-popover.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-button.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-collapse.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-carousel.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-typeahead.js"></script>
